# Dependencies
node_modules/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Build output
dist/
build/

# Electron
out/

# Electron-builder output
release/
*.dmg
*.dmg.blockmap
*.zip
*.exe
*.AppImage
*.deb
*.rpm
*.snap

# Electron-builder cache
.electron-builder-cache/
